In [35]:
def say_hello():
    print("Hello!")

In [36]:
say_hello()

Hello!

In [37]:
def say_something():
    print("something")

In [38]:
say_something()

something

In [39]:
def say_something():
    print("Hello World")

In [40]:
say_something()

Hello World

In [41]:
def say_something():
    print(Jane_says)
Jane_says = "Hi, my name is Jane. I'm learning Python!"

In [42]:
say_something()

Hi, my name is Jane. I'm learning Python!

In [46]:
def say_something():
    print(Jane_says)

In [50]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"

In [51]:
say_something()

Hi, my name is Jane. I'm learning Python!

In [73]:
# A list of my mu grades.
my_grades = ['B', 'C', 'B' , 'D']

In [74]:
#Import pandas
import pandas as pd
#Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [75]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [70]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [76]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [79]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [80]:
class Cat:
    def __init__(self, name):
        self.name = name

In [81]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [85]:
second_cat = Cat('Fofo')
print(second_cat.name)

Fofo